<header class="intro-header" style="background-image: url('<%= image_url('bg/playground.jpg')%>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>놀이터</h1>
                    <hr class="small">
                    <span class="subheading">여기서 만나요.</span>
                </div>
            </div>
        </div>
    </div>
</header>