    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('<%= image_url('about-bg.jpg') %>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do and who I am.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <img class="img-responsive center-block" src="<%= image_url('junwoo.png') %>" width="50%">
                <h2>황준우</h2>
                <p>개발자가 되고 싶은 개발자.</p>
                <p>중국집에서 이제 냉면을 팔지 않는다는 사실로 가을이 왔음을 아는 남자.</p>
            </div>
        </div>
    </div>
