@font-face {
  font-family: 'NanumSquare';
  src: font-url('NanumSquareOTFR.eot'); /* IE9 Compat Modes */
  src: font-url('NanumSquareOTFR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('NanumSquareOTFR.woff') format('woff'), /* Modern Browsers */
       font-url('NanumSquareOTFR.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'NanumSquare';
  src: font-url('NanumSquareOTFB.eot'); /* IE9 Compat Modes */
  src: font-url('NanumSquareOTFB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('NanumSquareOTFB.woff') format('woff'), /* Modern Browsers */
       font-url('NanumSquareOTFB.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}